<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一章 SQL基础</title>
    <link href="/lib/layui-v2.5.5/css/layui.css" media="all" rel="stylesheet">
    <link href="/css/public.css" media="all" rel="stylesheet">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote">
            这里放置SQL的基础<br>
            <a class="layui-btn layui-btn-danger" href="javascript:"
               layuimini-content-href="https://www.runoob.com/sql/sql-intro.html">treetable-lay</a>
        </blockquote>
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn layui-btn-normal" id="btn-fold">全部折叠</button>
            </div>
        </div>
    </div>
</div>
<!-- 操作列 -->
<script id="auth-state" type="text/html">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script charset="utf-8" src="/lib/layui-v2.5.5/layui.js"></script>
<script charset="utf-8" src="/js/lay-config.js?v=1.0.4"></script>
<script>

</script>
</body>
</html>