<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQL_Study_Home</title>
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css"/>
    <link rel="stylesheet" href="/css/master.css"/>
    <link rel="stylesheet" href="/css/gloable.css"/>
    <link rel="stylesheet" href="/css/nprogress.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
</head>
<body>
<!--博客主体-->
<div class="doc-container" id="doc-container" style="padding: 0px">
    <div class="container-fixed">
        <div class="col-content">
            <div class="inner">

                <article class="article-list bloglist" id="LAY_bloglist">
                    <section class="article-item zoomIn article">
                        <!--                        <div class="fc-flag">置顶</div>-->
                        <h5 class="title">
                            <!--                            <span class="fc-blue">【原创】</span>-->
                            <a href="/page/SQL/1">SQL简介</a>
                        </h5>
                        <div class="time">
                            <span class="day">1</span>
                            <span class="month fs-18">7<span class="fs-14">月</span></span>
                            <span class="year fs-18 ml10">2020年</span>
                        </div>
                        <div class="content">
                            <a href="javascript:;" layuimini-content-href="/stu/SQLStu/1" data-title="SQL简介"
                               class="cover img-light">
                                <img src="/images/mysql.jpg">
                            </a>
                            这部分是对SQL的一个简介。
                            ...
                        </div>
                        <div class="read-more">
                            <a href="javascript:;" layuimini-content-href="/stu/SQLStu/1" data-title="SQL简介"
                               class="fc-black f-fwb">继续阅读</a>
                        </div>
                        <aside class="f-oh footer">
                            <div class="f-fl tags">
                                <span class="fa fa-tags fs-16"></span>
                                <a class="tag">java路线</a>
                            </div>
                            <div class="f-fr">
									<span class="read">
										<i class="fa fa-eye fs-16"></i>
										<i class="num">213</i>
									</span>
                                <span class="ml20">
										<i class="fa fa-comments fs-16"></i>
										<a href="javascript:void(0)" class="num fc-grey">1</a>
									</span>
                            </div>
                        </aside>
                    </section>

                    <section class="article-item zoomIn article">
                        <!--                        <div class="fc-flag">置顶</div>-->
                        <h5 class="title">
                            <!--                            <span class="fc-blue">【原创】</span>-->
                            <a href="/page/SQL/1">SQL简介</a>
                        </h5>
                        <div class="time">
                            <span class="day">1</span>
                            <span class="month fs-18">7<span class="fs-14">月</span></span>
                            <span class="year fs-18 ml10">2020年</span>
                        </div>
                        <div class="content">
                            <a href="javascript:;" layuimini-content-href="/stu/SQLStu/1" data-title="SQL简介"
                               class="cover img-light">
                                <img src="/images/mysql.jpg">
                            </a>
                            这部分是对SQL的一个简介。
                            ...
                        </div>
                        <div class="read-more">
                            <a href="javascript:;" layuimini-content-href="/stu/SQLStu/1" data-title="SQL简介"
                               class="fc-black f-fwb">继续阅读</a>
                        </div>
                        <aside class="f-oh footer">
                            <div class="f-fl tags">
                                <span class="fa fa-tags fs-16"></span>
                                <a class="tag">java路线</a>
                            </div>
                            <div class="f-fr">
									<span class="read">
										<i class="fa fa-eye fs-16"></i>
										<i class="num">213</i>
									</span>
                                <span class="ml20">
										<i class="fa fa-comments fs-16"></i>
										<a href="javascript:void(0)" class="num fc-grey">1</a>
									</span>
                            </div>
                        </aside>
                    </section>
                </article>

            </div>
        </div>
        <div class="col-other">
            <div class="inner">

                <!--右边搜索框-->
                <div class="other-item" id="categoryandsearch">
                    <div class="search">
                        <label class="search-wrap">
                            <input type="text" id="searchtxt" placeholder="输入关键字搜索"/>
                            <span class="search-icon">
                                <i class="fa fa-search"></i>
                            </span>
                        </label>
                        <ul class="search-result">
                        </ul>
                    </div>
                    <ul class="category mt20" id="category">
                        <li data-index="0" class="slider"></li>
                        <li data-index="1"><a href="/Blog/Article">全部文章</a></li>
                        <li data-index="2"><a href="javascript:;" layuimini-content-href="/stu/SQLStu/1" data-title="SQL简介">Java</a></li>
                        <li data-index="3"><a href="/Blog/Article/2/">前端</a></li>
                        <li data-index="4"><a href="/Blog/Article/3/">Python</a></li>
                        <li data-index="5"><a href="/Blog/Article/4/">PHP</a></li>
                        <li data-index="6"><a href="/Blog/Article/5/">其它</a></li>
                    </ul>
                </div>
                <!--右边悬浮 平板或手机设备显示-->
                <div class="category-toggle"><i class="layui-icon">&#xe603;</i></div>
                <div class="article-category">
                    <div class="article-category-title">分类导航</div>
                    <a href="/Blog/Article/1/">Java</a>
                    <a href="/Blog/Article/2/">前端</a>
                    <a href="/Blog/Article/3/">Python</a>
                    <a href="/Blog/Article/4/">PHP</a>
                    <a href="/Blog/Article/5/">其它</a>
                    <div class="f-cb"></div>
                </div>
                <!--遮罩-->
                <div class="blog-mask animated layui-hide"></div>

                <!--热门文章-->
                <div class="other-item">
                    <h5 class="other-item-title">热门文章</h5>
                    <div class="inner">
                        <ul class="hot-list-article">
                            <li><a href="/Blog/Read/9">SpringBoot 入门爬虫项目实战</a></li>
                            <li><a href="/Blog/Read/12">SpringBoot 2.x 教你快速入门</a></li>
                            <li><a href="/Blog/Read/13">java学习路线</a></li>
                            <li><a href="/Blog/Read/4">基于SpringBoot+JWT+Redis跨域单点登录的实现</a></li>
                            <li><a href="/Blog/Read/7">SpringBoot 中如何使用SwaggerAPI接口文档？</a></li>
                            <li><a href="/Blog/Read/11">小白轻松入门Redis</a></li>
                            <li><a href="/Blog/Read/14">微信一键登录功能的实现</a></li>
                            <li><a href="/Blog/Read/8">NPOI导入导出Excel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="other-item">
                    <h5 class="other-item-title">置顶推荐</h5>
                    <div class="inner">
                        <ul class="hot-list-article">
                            <li><a href="/Blog/Read/16">java学习路线</a></li>
                            <li><a href="/Blog/Read/14">基于SpringBoot+JWT+Redis跨域单点登录的实现</a></li>
                            <li><a href="/Blog/Read/9">小白轻松入门Redis</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

<script src="/lib/layui-v2.5.5/layui.js"></script>
<script charset="utf-8" src="/js/lay-config.js?v=1.0.4"></script>
<script src="/js/yss/gloable.js"></script>
<script src="/js/plugins/nprogress.js"></script>
<script>NProgress.start();</script>
<script src="/js/yss/article.js"></script>
<script>
    layui.use(['miniTab'], function () {
        var miniTab = layui.miniTab;

        miniTab.listen();
    });
    window.onload = function () {
        NProgress.done();
    };
</script>

</html>