<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原理</title>
</head>
<body>
<pre>
        [1]王新蕾,周媛.实践教学中SQL注入的三级训练模型研究[J].福建电脑,2013,29(09):71-73+3.
        SQL注入攻击主要是以合法的身份为掩护, 通过构建畸形的SQL语句, 以常规方式输入, 传入后台数据库服务器执行来进行恶意操作。SQL注入攻击甚至可以使攻击者绕过用户认证机制, 使其完全远程操控数据库。对于经验欠缺或不够细心的开发人员, 用户的恶意输入有可能会被解释成数据库命令, 形成SQL注入攻击。

针对oracle数据库的攻击途径主要有以下四种[6]:

(1) 针对SQL操作进行SQL注入攻击。最为人熟知的就是修改身份验证部分的where子句, 使结果为真, 从而绕过身份验证。

(2) 针对代码进行SQL注入攻击。即在已存在的SQL语句中插入一条新的SQL语句或者数据库命令。最经典的就是在一条有漏洞的SQL语句里附加EX-ECUTE命令, 这只有在数据库支持多条SQL语句的环境下才可能被实现。

(3) 针对过程和函数调用的SQL注入攻击。在使用oracle数据库的标准函数或自定义函数中的某个存在漏洞的SQL语句中进行注入攻击。

(4) 针对缓冲区溢出的SQL注入攻击。缓冲区溢出的SQL注入是一个函数调用注入的子集, 漏洞存在于有可能导致缓冲区溢出的几个数据库函数中。解决方法就是打补丁, 但仍会存在不断发现的漏洞函数没有解决。
    </pre>
</body>
</html>