<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stu3</title>
</head>
<body>
<pre>
        (三) 、防范攻击训练
通过显示和隐式的攻击训练, 学生强烈地感受到了SQL注入的危害, 警惕性得到了大大提高。在防范攻击训练中, 强调了遵循如下顺序进行修改:

第一, 静态SQL, 即能不使用变量就不使用。

第二, 使用绑定变量。

第三, 对输入进行验证, 即检查变量值, 对不满足规定的格式或条件, 抛出异常[7]。

根据教学和实验的目的, 主要强调了编程中使用绑定变量的方法。

绑定变量是用户放入查询中的占位符, 编译时不需要为其赋值, 且会将编译后的查询语句存储在库缓存中, 方便获取和重用。它在重复性查询较高或数据仓库中应用较为普遍, 带来的性能和可扩展性的提高也很明显。更为重要的是, 使用绑定变量, 可以使系统的安全性得到很大提高。

在显示攻击训练中, 将查询语句 (1) (2) 换成绑定变量的语法形式如下:

(5) select*from users where uname=:uname and pw=:pw;

(6) select count (*) from users where uname=:uname and pw=:pw’

这样, 程序在执行的时候不再重新编译上述语句, 即畸形的SQL语句得不到编译, 从而提高了安全性。

同样, 在隐式攻击训练中, 在存储过程myproc1中使用绑定变量, 也可以解决被SQL注入攻击的危险, 其原理也是避免畸形SQL语句的编译。修改后的过程为myproc2:


问题解决。

使用绑定变量, 从源头上不给SQL注入以机会, 相信是最好的防SQL注入攻击的方法。当然, 对SQL注入的多重防范是必备的, 因为总会有不能使用绑定变量的少数情况, 这时要做到心中有数, 心中有方, 防患于未然。
    </pre>

</body>
</html>