<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手动测试</title>
</head>
<body>
<from class="layui-form">
    <input name="" type="text"/>url
    <input name="" type="checkbox"/>扫描注入点(-u)
    <input name="" type="checkbox"/>扫描数据库名(--dbs)
    <input name="" type="checkbox"/>指定数据库名爆表
    <input name="" type="checkbox"/>指定表名爆列
    <input name="" type="checkbox"/>指定列名获取数据
    <input name="" type="button" value="执行"/>
    <input name="" type="reset" value="清除"/>
</from>
</body>
</html>