<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pagen.dao.UserDao">
    <select id="hasUserAndPwd" resultType="INTEGER">
        SELECT COUNT(*) FROM SYSTEM_USER USER WHERE username = #{userName} AND password = #{password}
        <if test="admin == 'true'">
            and power > 0
        </if>
    </select>

    <insert id="register" parameterType="com.pagen.entity.User">
        INSERT INTO `permission_security`.`system_user`(`username`, `password`, `power`, `salt`, `status`)
        VALUES (#{username}, #{password}, 1, #{salt}, 1)
    </insert>

    <select id="findUserByUsername" parameterType="String" resultType="com.pagen.entity.User">
        SELECT *
        FROM system_user
        WHERE username = #{username}
    </select>

    <resultMap id="userMap" type="User">
        <id column="uid" property="id"/>
        <result column="username" property="username"/>
        <!--角色信息-->
        <collection property="roles" javaType="list" ofType="Roles">
            <id column="id" property="id"/>
            <result column="rname" property="role_name"/>
        </collection>
    </resultMap>

    <select id="findRolesByUserName" parameterType="String" resultMap="userMap">
        SELECT u.id uid,u.username,r.id,r.role_name rname
        FROM system_user u
        left join user_roles ur
        on ur.user_id=u.id
        left join roles r
        on ur.role_id = r.id
        WHERE u.username = #{username}
    </select>

    <select id="findPermsByRoleId" parameterType="String" resultType="com.pagen.entity.Permissions">
        SELECT p.id,p.permission_name,r.role_name
        FROM roles r
        left join role_permissions rp
        on r.id = rp.role_id
        left join permissions p
        on rp.permission_id = p.id
        WHERE r.id = #{id}
    </select>

</mapper>